/* Removed unnecessary padding */
.nopadding {
    padding: 0;
}
/* Index */
/* Background */
.fondo {
    background-image: url(../img/background_index.webp);
    background-size: cover;
    background-position: top;
    height: 93.5vh;
}
/* Text */
.textcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1container {
    width: 100%;
    text-align: center;
    margin-top: 12vh;
    background-color: white;
}
.h2container {
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    background-color: white;
}
.h1size {
    font-size: 15vh;
}
.h2size {
    font-size: 10vh;
}
/* About */
.about {
    height: 93.5vh;;
    display: flex;
    justify-content: center;
}
.textandimage {
    display: flex;
    width: 75%;
    align-items: center;
}
.imagecontainer {
    background-image: url(../img/ww.webp);
    background-size: cover;
    height: 23rem;
    min-width: 23rem;
    margin-left: 1rem;
    border-radius: 50%;
}
.greytext {
    color: #787878;
}
.paragraph {
    font-size: large;
}
.tcontainer {
    align-items:initial;
}
/* Services */
.textandimageservices {
    flex-direction: row-reverse;
}
.imagecontainer2 {
    margin-left: 0;
    margin-right: 1rem;
    background-image: url(../img/elon.webp);
}
/* Portfolio */
.wrapperportfolio {
    display: flex;
    justify-content: center;
}
.portfoliocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    height: 93.5vh;
}
.portfolio-card-title {
    color: #3F77B1;
}
.cardreset {
    border: 0;
    margin-right: 2rem;
}
.card-body-reset {
    padding-left: 0;
}
.cards {
    display: flex;
    margin-top: 2rem;
}